<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh-Hans</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>md2png</string>
    <key>CFBundleSpokenName</key>
    <string>md2png</string>
    <key>CFBundleExecutable</key>
    <string>md2png</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.guangyya.md2png</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 guangyya. All rights reserved.</string>
    <key>CFBundleName</key>
    <string>md2png</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.13.0</string>
    <key>CFBundleVersion</key>
    <string>14</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>MD2PNGUpdateChannel</key>
    <string>disabled</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUAllowsAutomaticUpdates</key>
    <false/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>SUEnableAutomaticChecks</key>
    <false/>
    <key>SUPublicEDKey</key>
    <string>e5b5D6VY3VV3z1p/hRfrUC7MLeTPo0lMRaSGbymyLKE=</string>
    <key>SURequireSignedFeed</key>
    <true/>
    <key>SUSendProfileInfo</key>
    <false/>
    <key>SUSignedFeedFailureExpirationInterval</key>
    <integer>0</integer>
    <key>SUVerifyUpdateBeforeExtraction</key>
    <true/>
</dict>
</plist>
